doctype html
html
	include ./themes/header.jade
	body.skin-blue.layout-top-nav

	#container.content-wrapper(style='min-height:	242px;')
		include ./fragments/overview.jade
		
			
	include ./themes/footer.jade
