.content-wrapper(style='min-height:	242px;')
					.container-fluid
									//	Content	Header	(Page	header)
									//section.content-header
											h1
													|	OverView
													small	Example	2.0
											|													
											ol.breadcrumb
													li
															a(href='#')
																	i.fa.fa-dashboard
																	|		Home
													|															
													li.active	OverView
									//	Main	content
									//section.content
										.col-md-3
											.box.box-primary
												.box-header
																i.fa.fa-bar-chart-o
																|																			
																h3.box-title	Sample	Chart
																|																	
														.box-body
																#donut-chart(style='height:300px;')
										.col-lg-3.col-xs-6
											.small-box.bg-yellow
												.inner
														h3 15 %
														|	
														p BCG Coverage
														|		
													.icon
														i.ion.ion-arrow-graph-down-left
														|		
													a.small-box-footer(href='#')
													| More info	
													i.fa.fa-arrow-circle-right
										.col-lg-3.col-xs-6
											.small-box.bg-green
												.inner
														h3 44 %
														|	
														p ANC Coverage
														|		
													.icon
														i.ion.ion-stats-bars
														|		
													a.small-box-footer(href='#')
													| More info	
													i.fa.fa-arrow-circle-right
										.col-lg-3.col-xs-6
											.small-box.bg-red
												.inner
														h3 44 %
														|	
														p Safe Birth attendance
														|		
													.icon
														i.ion.ion-woman
														|		
													a.small-box-footer(href='#')
													| More info	
													i.fa.fa-arrow-circle-right
										.col-lg-3.col-xs-6
											.small-box.bg-red
												.inner
														h3 32 %
														|	
														p Malaria Rise Up
														|		
													.icon
														i.ion.ion-man
														|		
													a.small-box-footer(href='#')
													| More info	
													i.fa.fa-arrow-circle-right
					.container-fluid
									//	Content	Header	(Page	header)
									section.content-header
											h1
													|	MDG 1
													small	&nbsp;
											|													
											//ol.breadcrumb
													li
															a(href='#')
																	i.fa.fa-dashboard
																	|		Home
													|															
													li.active	OverView
									//	Main	content
									section.content
										.col-md-7
											.box.box-primary
												.box-header
																i.fa.fa-bar-chart-o
																|																			
																h3.box-title	Children Received Vitamin A2
																|																	
														.box-body
																#Chart1(style='height:400px;')
										.col-md-4
											.box.box-primary
												.box-header
																i.fa.fa-bar-chart-o
																|				
																h3.box-title Sample Chart
														.box-body
																#Map1(style='height:400px;')
					.container-fluid
									
									//	Main	content
									section.content
										.col-md-4
											.box.box-primary
												.box-header
																i.fa.fa-bar-chart-o
																|				
																h3.box-title Sample Chart
														.box-body
																#Table1(style='height:400px;')
										.col-md-7
											.box.box-primary
												.box-header
																i.fa.fa-bar-chart-o
																|				
																h3.box-title Sample Chart
														.box-body
																#Chart2(style='height:400px;')
script(type="text/javascript" src="/js/fragments/MDG1.js")