.content-wrapper(style='min-height:	242px;')
					.container-fluid
									//	Content	Header	(Page	header)
									section.content-header
											h1
													|	MDG 6
													small	&nbsp;
											|													
											//ol.breadcrumb
													li
															a(href='#')
																	i.fa.fa-dashboard
																	|		Home
													|															
													li.active	OverView
									//	Main	content
									section.content
										.col-md-8
											.box.box-primary
												.box-header
																i.fa.fa-bar-chart-o
																|																			
																h3.box-title		
																|																	
														.box-body
																#Chart1_MDG6(style='height:500px;')
										.col-md-4
											.box.box-primary
												.box-header
																i.fa.fa-bar-chart-o
																|																			
																h3.box-title		
																|																	
														.box-body
																#Chart2_MDG6(style='height:400px;')
										
									section.content
										.col-md-8
											.box.box-primary
												.box-header
																i.fa.fa-bar-chart-o
																|																			
																h3.box-title		
																|																	
														.box-body
																#Chart4_MDG6(style='height:400px;')
										.col-md-4
											.box.box-primary
												.box-header
																i.fa.fa-bar-chart-o
																|																			
																h3.box-title		
																|																	
														.box-body
																#Chart3_MDG6(style='height:400px;')

script(type="text/javascript" src="/js/fragments/MDG6.js")																	