.content-wrapper(style='min-height:	242px;')
					.container-fluid
									//	Content	Header	(Page	header)
									section.content-header
											h1
													|	MDG 7
													small	&nbsp;
											|													
											//ol.breadcrumb
													li
															a(href='#')
																	i.fa.fa-dashboard
																	|		Home
													|															
													li.active	OverView
									//	Main	content
									section.content
										.col-md-5
											.box.box-primary
												.box-header
																i.fa.fa-bar-chart-o
																|																			
																h3.box-title		
																|																	
														.box-body
																#Chart1_MDG7(style='height:400px;')
										.col-md-5
											.box.box-primary
												.box-header
																i.fa.fa-bar-chart-o
																|																			
																h3.box-title		
																|																	
														.box-body
																	
																	table#table1_MDG7.table.table-bordered.table-hover.dataTable 
																		thead 	
																			tr
																				th 	
																				|	
																				th MDG Proportion of population using and improved drinking watersource
																				|	
																				th MDG Proportion of population(Family) using and improved sanitation facility
																				|	
																		tbody
																			tr 	
																				|	
																				td 	1990
																				|	
																				td 	28
																				|	
																				td 	
																			tr 	
																				|	
																				td 	1995
																				|	
																				td 	44
																				|	
																				td 	29
																			tr 	
																				|	
																				td 	2005
																				|	
																				td 	57
																				|	
																				td 	49
																			tr 	
																				|	
																				td 	2010
																				|	
																				td 	70
																				|	
																				td 	59
																			tr 	
																				|	
																				td 	2014
																				|	
																				td 	84.7
																				|	
																				td 	67.9
script(type="text/javascript" src="/js/fragments/MDG7.js")																	